* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

a:hover {
  color: black;
}

h1 {
  display: flex;
  margin: auto;
}

p {
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

body {
  background-color: #f1dbeb;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 100%;
}
body .container-principal {
  width: 100%;
  height: 80px;
  background: rosybrown;
}
body .position-menu {
  display: flex;
  justify-content: center;
}
body .menu {
  display: flex;
  justify-content: space-around;
  width: 300px;
  height: 80px;
  align-items: center;
}
body .menu-principal {
  background: #8d485e;
  border-radius: 2px;
  padding: 15px;
  cursor: pointer;
  color: white;
  border: none;
  font-size: 16px;
}
body .container-nome {
  width: 350px;
  height: 80px;
  display: flex;
  text-align: end;
}
body .container-nome .nome {
  color: #383636;
  display: flex;
  margin: auto;
}
body .container-informacoes {
  width: 100%;
  display: flex;
  justify-content: center;
}
body .container-informacoes .position-informacoes {
  width: 800px;
  display: flex;
  justify-content: space-between;
}
body .container-informacoes .position-informacoes .foto-rafa {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}
body .container-informacoes .position-informacoes .title {
  width: 50%;
  height: 80px;
}
body .container-informacoes .position-informacoes .title .container-paragrafo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
body .container-informacoes .position-informacoes .title .container-paragrafo .paragrafo {
  font-size: 18px;
  font-weight: bold;
}
body .container-button {
  width: 80%;
  display: flex;
  justify-content: flex-end;
}
body .container-button .borda-button {
  background: #8d485e;
  border-radius: 40px;
  padding: 10px;
  cursor: pointer;
  border: none;
  font-size: 10px;
}
body .container-button .borda-button .button {
  background: white;
  border-radius: 20px;
  padding: 14px;
  cursor: pointer;
  color: palevioletred;
  border: none;
  font-size: 10px;
  font-weight: bold;
}
body .container-titulo {
  width: 100%;
}
body .container-titulo .position-titulo {
  width: 100%;
  display: flex;
  text-align: center;
}
body .container-textos {
  width: 100%;
  display: flex;
}
body .container-textos .position-texto {
  width: 100%;
  text-align: center;
}
body .container-textos .position-texto .texto {
  font-size: 18px;
  font-weight: bold;
}
body .container-subtitle {
  width: 100%;
  display: flex;
}
body .container-subtitle .position-subtitle {
  width: 100%;
  text-align: center;
}
body .container-imagens-sites {
  width: 100%;
  display: flex;
  justify-content: center;
}
body .container-imagens-sites .position-imagens-sites {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
body .container-imagens-sites .position-imagens-sites img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
body .container-texto-imagem-curso {
  width: 100%;
  display: flex;
}
body .container-texto-imagem-curso .texto-curso {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
body .position-imagem-curso {
  width: 100%;
  display: flex;
  justify-content: center;
}
body .position-imagem-curso .imagem-curso {
  width: 80%;
  display: flex;
  justify-content: center;
}
body .position-imagem-curso .imagem-curso img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
body .titulo-final {
  display: flex;
  text-align: center;
}
body .container-redes-sociais {
  width: 100%;
}
body .container-redes-sociais .imagens-redes-sociais {
  display: flex;
  flex-direction: column;
}
body .container-redes-sociais .imagens-redes-sociais .link-contatos {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=style-new.css.map */
